nav {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
	background: white;
}

.navWrap {
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	display: flex;
	flex: 1;
	z-index: 0;
	justify-content: space-between;
	background: black;
	height: fit-content;
	height: max-content;
	flex-grow: inherit;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 1vw;
	box-shadow: 20px 7px 7px 0px #e2e2e2;
}

.siteTitle h1 {
	margin: 0;
	font-size: 28px;
	color: white;
	font-family: Arial;
	font-weight: bold;
}

#menuButton {
	font-size: 30px;
	cursor: pointer;
	color: #818181;
	display: none;
}
.closebtn {
	display: none;
	font-size: 50px !important;
}

.navMenu {
}

.navMenu a {
	padding: 16px 12px;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	height: -webkit-fill-available;
	font-family: Arial;
	color: white;
	letter-spacing: 1px;
	transition: 0.8s;
}
.navMenu a:hover {
	background: white;
	color: black;
	transition-duration: 0.8s;
}

.jobSide {
	width: 19%;
	left: 0;
	margin-left: 1%;
	position: fixed;
	background: white;
	height: fit-content;
	border: solid 1px #818181;
}

.jobSide select {
	width: 100%;
	padding: 10px;
	font-size: 15px;
	border-right: 0;
	border-left: 0;
}

.categoryContainer {
	margin-top: 20px;
}

.selectHead {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	font-family: Arial;
}
.sideHead {
	text-align: center;
	background: black;
	color: white;
	padding: 12px;
}

option {
	padding: 8px 0px;
}

.filterButton {
	display: block;
	width: 100% !important;
}

#filterButton {
	position: fixed;
	left: 2px;
	top: 70px;
	background: #8e8e8ee8;
	color: white;
	padding: 8px;
	display: none;
	font-size: 29px;
	box-sizing: border-box;
}

.main {
	margin-top: 80px;
}
.caseContainer {
	margin-left: 21%;
	width: 75%;
	border-top: solid #000000a1 1px;
}
.jobContainer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	autoprefixer: ignore next;
	/* autoprefixer: ignore next */
	-ms-box-orient: vertical;
	flex: 1;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
	margin-bottom: 38px;
	border: solid #818181 1px;
	padding: 0px 0px 4px;
}
.jobHeadline {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-ms-box-orient: horizontal;
	display: flex;
	-webkit-justify-content: space-between;
	flex: 1;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	background: white;
	color: black;
	box-shadow: 6px 4px 11px 0px #818181cc;
	padding: 6px 0px;
}
.jobHead {
	font-family: sans-serif;
	font-size: 21px;
	margin-left: 1%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-ms-box-orient: horizontal;
	display: flex;
	flex: 1;
	align-items: center;
}
.datePosted {
	padding: 0px 12px;
}
.jobDetail {
	/* color: white; */
	display: flex;
	flex: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-ms-box-orient: horizontal;
	-webkit-justify-content: space-evenly;
	justify-content: space-evenly;
	width: 100%;
}
.jobTasks {
	padding: 0;
}
.jobTasks li {
	font-size: 20px;
	list-style: none;
	margin: 9px 6px;
}
.jobRoles p {
	padding: 5px;
	color: black;
	font-size: 15px;
}

.jobRoles {
	width: 50%;
}

.jobRoles h3 {
	text-align: center;
	font-family: averia libre;
	color: #818181;
	text-shadow: 6px 1px 20px #818181db;
}
.button{
    background: black;
    color: white;
    padding: 4px;
}
/* .dropdown:hover .dropdown-content {
	display: block !important;
} */
/* 
@media (min-width: 900px) {
	.navMenu {
		display: inline-block !important;
		height: 100%;
	}
}

@media (max-width: 900px) {
	.navMenu {
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		background-color: #818181;
		width: 195px;
		padding-top: 60px;
		overflow-y: auto;
		height: 100%;
	}

	.navMenu a {
		padding: 9px 8px 15px 32px;
		text-decoration: none;
		color: white;
		display: block;
		transition: 0.3s;
	}

	.navMenu a:hover,
	.offcanvas a:focus {
		color: #d1d1c1;
	} */

/* .navMenu .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	} */

/* #menuButton {
		display: inline-block;
	}

	.dropdown-content {
		position: relative;
	}
} */
/* @media screen and (max-height: 450px) {
	.navMenu {
		padding-top: 15px;
	}

	.navMenu a {
		font-size: 18px;
	}
} */


.employeeAction {
    width: 97%;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.button:hover {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
    border-radius: 4px;
    transform: rotate(-1deg);
}

.jobDetail p {
    margin: 16px 19px;
}