nav {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
	background: white;
}

.navWrap {
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	display: flex;
	flex: 1;
	z-index: 0;
	justify-content: space-between;
	background: black;
	height: fit-content;
	height: max-content;
	flex-grow: inherit;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 1vw;
	box-shadow: 20px 7px 7px 0px #e2e2e2;
}

.siteTitle h1 {
	margin: 0;
	font-size: 28px;
	color: white;
	font-family: Arial;
	font-weight: bold;
}

#menuButton {
	font-size: 30px;
	cursor: pointer;
	color: #818181;
	display: none;
}
.closebtn {
	display: none;
	font-size: 50px !important;
}

.navMenu {
}

.navMenu a {
	padding: 16px 12px;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	height: -webkit-fill-available;
	font-family: Arial;
	color: white;
	letter-spacing: 1px;
	transition: 0.8s;
}
.navMenu a:hover {
	background: white;
	color: black;
	transition-duration: 0.8s;
}

.sideBar {
	width: 19%;
	left: 0;
	margin-left: 1%;
    position: fixed;
    overflow: auto;
	background: white;
	height: fit-content;
	border: solid 1px #818181;
}

.sideBar select {
	width: 100%;
	padding: 10px;
	font-size: 15px;
	border-right: 0;
	border-left: 0;
}

.categoryContainer {
	margin-top: 20px;
}

.selectHead {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	font-family: Arial;
}
.sideHead {
	text-align: center;
	background: black;
	color: white;
	padding: 12px;
}

option {
	padding: 8px 0px;
}

.filterButton {
	display: block;
	width: 100% !important;
}

#filterButton {
	position: fixed;
	left: 2px;
	top: 70px;
	background: #8e8e8ee8;
	color: white;
	padding: 8px;
	display: none;
	font-size: 29px;
	box-sizing: border-box;
}

.main {
	margin-top: 80px;
}
.caseContainer {
	margin-left: 21%;
	width: 75%;
	border-top: solid #000000a1 1px;
}
.singleCase {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	autoprefixer: ignore next;
	/* autoprefixer: ignore next */
	-ms-box-orient: vertical;
	flex: 1;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
	margin-bottom: 38px;
	border: solid #818181 1px;
	padding: 0px 0px 4px;
}
.caseHeadline {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-ms-box-orient: horizontal;
	display: flex;
	-webkit-justify-content: space-between;
	flex: 1;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	background: white;
	color: black;
	box-shadow: 6px 4px 11px 0px #818181cc;
	padding: 6px 0px;
}
.courtAccuser {
	font-family: sans-serif;
	font-size: 21px;
	margin-left: 1%;
	display: -webkit-box;
	color: gray;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-ms-box-orient: horizontal;
	display: flex;
	flex: 1;
	align-items: center;
}
.datePosted {
	padding: 0px 12px;
	color: gray;
}
.caseDetail {
	/* color: white; */
	display: flex;
	flex: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-ms-box-orient: horizontal;
	-webkit-justify-content: space-evenly;
	justify-content: space-evenly;
	width: 100%;
}
.button {
	background: black;
	color: white;
	padding: 4px;
}

.buttonsContainer {
	width: 97%;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
}

.button:hover {
	color: white;
	text-decoration: none;
	transition-duration: 0.5s;
	border-radius: 4px;
	transform: rotate(-1deg);
}

.caseDetail p {
	margin: 16px 19px;
	color: gray;
}
